.account-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;

  & > * {
    width: 48%;
    padding: 2%;
    background-color: white;
    border-radius: 10px;
  }
}

.account-info__transactions {
  .heading {
    display: flex;
    justify-content: space-between;
  }
  .transaction-summary {
  }
}
